* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.upload {
    background-color: #0081c9;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    position: relative;
}

.satu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.dua kursor{
    box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 0.75);
        transition: 0.5s;
}

.dua input:hover{
    box-shadow: none;
}

.kursor {
    cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins&family=Questrial&family=Satisfy&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #d8eefe;
}
.judul {
    width: 100%;
    padding: 0px 50px;
    margin-top: 30px;
}

/* Sidebar */

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: #0081c9;
    padding: 300px 0px;
    position: fixed;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
    color: white;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #094067;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

/* Header */
.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background: #fff;
    color: #717171;
    box-shadow: 1px 5px 5px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 5px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 5px 5px -3px rgba(0, 0, 0, 0.75);
}

.profile {
    display: flex;
    gap: 20px;
    background-color: #0083c960;
    padding: 5px;
    border-radius: 10px;
    color: black;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}

/* ISI */

.bungkus {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
}

.dua {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 100px;
    
}

.data {
    margin: auto;
}

.namaAcara {
    background: none;
    width: 100%;
}

.Deskripsi {
    display: flex;
    flex-direction: column;
}

input[type="date"],
input[type="time"] {
    background: none;
    border-radius: 5px;
    border: 2px solid #0081c9;
    width: 100%;
}

.inputan {
    background: none;
    width: 100%;
    cursor: text;
    border-radius: 5px;
    border: 2px solid #0081c9;
    padding: 3px;
}

textarea {
    resize: none;
}

.form {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10%;
    margin-top: 50px;
    justify-content: space-evenly;
}



form :where(.icon) {
    color: #0081c9;
}

from .icon {
    font-size: 50px;
}

.search {
    background-color: #d8eefe;
    width: 1000px;
    height: 50px;
    gap: 1%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.search span {
    margin: auto;
    padding: 10px;
}

.search2 {
    outline: none;
    background: none;
    display: flex;
    justify-content: start;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
}

/* ISI FOTO */

.row-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1  0px;
    height: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}

.form2{
    background-color: white;
    height: 60%;
    border-radius: 10px;
}

.image-container{
    width: 90%;
    margin: 0 auto 30px auto;
}

#chosen-image{
    margin: auto;
    z-index: 1;
}

figcaption{
    margin: 20px 0 30px 0;
    text-align: center;
    color: #2a292a;
}

.iconn{
   width: 100px;
   height: auto;
   margin: auto;
   position: absolute;
   top: 450px;
    
}