/* Import Fonts*/
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #d9edf8;
}

/* Button */
.button {
    background-color: #0081c9;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    width: 100px;
    transition: 0.5s;
    font-size: 15px;
    padding: 5px;
    color: white;
}
.button:hover {
    box-shadow: 0 0 0 black;
}

.daftar {
    box-shadow: 5px 5px 20px #0081c9;
    color: white;
    font-size: 0.8em;
}

/* NAVBAR */
nav {
    margin-top: -100px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    gap: 50%;
    width: 100%;
    background-color: #abe0ffa9;
    padding: 10px 0;
    backdrop-filter: blur(3px);
    z-index: 1;
}

nav div {
    display: flex;
    width: 10%;
    justify-content: center;
    gap: 10px;
    background: none;
}

nav h4 {
    margin: auto 0;
    background: none;
    letter-spacing: 1px;
}

nav img {
    width: 50px;
    height: fit-content;
    background: none;
}

nav ul {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: auto;
    background: none;
}

nav ul li {
    list-style: none;
    margin: auto 0;
    cursor: pointer;
    background: none;
}

nav ul li div {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li button {
    border: none;
    width: 60px;
    height: 30px;
    background-color: #0081c9;
    box-shadow: 5px 5px 20px #0081c9;
    border-radius: 5px;
    transition: 0.5s;
    color: #d9edf8;
    cursor: pointer;
}

nav ul li button:hover {
    box-shadow: 0 0 0 black;
}

/* section 1 */

.text {
    width: 500px;
}

.home-1 {
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
    height: fit-content;
    justify-content: space-around;
    column-gap: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.home-1-teks {
    width: 500px;
    margin: auto;
}

.judul1{
    font-size: 2em;
    margin-bottom: 0;
}
.judul2{
    font-size: 1.5em;
}

.foto1{
    position: relative;
    width: 500px;
    margin: auto;
}



/* section 2 */
.home-2 {
    height: 60vh;
    display: flex;
    padding: 50px;
    padding-top: 0;
    align-items: center;
    justify-content: center;
}
.cards {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    text-align: center;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
    padding: 30px 0;
}

.cards:hover{
    transform: scale(1.1);
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.c2{
    margin: 0;
    width: 200px;
    height: auto;
}

.c3{
        width: 200px;
        height: 190px;
}

.card-text {
    font-weight: bold;
    background: none;
}

/* Section 3 */
.home-3 {
    position: relative;
    height: 110vh;
    padding: 5%;
}
.foto-content-2 {
    width: 300px;
}
.content {
    display: flex;
}
.sec-3 {
    margin-left: 10px;
    margin-right: 10px;
}
.content-text {
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    padding-top: 80px;
}
.btn-sec-3 {
    width: 250px;
    color: white;
}

/* Section 4 */

.home-4{
    width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: #0081c9;
    display: grid;
    grid-template-columns: auto auto;
}

.testimoni{
    background-color: white;
    margin: 0 auto;
    display: flex;
    height: fit-content;
    width: 350px;
    border-radius: 20px;
    padding: 10px;
}
.pic{
    margin: auto 0;
    width: 100px;
    height: 100px;
}
.testi-content{
    margin-left: 20px;
    background: none;
}
.testi-text{
    font-size: 12px;
    background: none;
}

/* Section 5 */
.home-5{
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    padding-top: 50px;
}
.faq{
    margin: 0 auto;
    width: 80%;
}
.accordion {
    margin-top: 10px;
    background-color: white;
    border: none;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 10px 10px 0 0;
}
.panel p{
    background: none;
}

.active, .accordion:hover {
    border-radius: 10px 10px 0 0;
}

.panel {
    padding: 0 18px;
    background: none;
    background-color: white;
    max-height: 0;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    text-align: left;
    transition: max-height 0.2s ease-out;
}

footer{
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #444;
    width: 100%;
    height: fit-content;
    padding: 50px;
}

.foot-text{
    color: #0081c9;
    width: 100%;
    background: none;
}
.text-footer{
    width: 100%;
    color: white;
    background: none;
}
.col{
    width: 100%;
    background: none;
}
.col p{
    background: none;
}

/* mobile */
@media screen and (max-width: 768px) {

    .foto1 {
        width: 300px;
        height: auto;
    }
    .home-1-teks {
        font-size: 0.8em;
    }

}
