@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body{
    padding: 0;
    margin: 0;
}

.atas {
  background: rgba(217, 237, 248, 0.79);
  width: 100%;
  height: 25%;
  display: flex;
}
.main-atas{
    display: flex;
    padding: 10px;

}

.main-bawah{
    margin-bottom: 1000px;
}
.extra-art{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px
}


.logo {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 66px;
  top: 40px;
  background-color: none;
}
.name-page {
display: flex;
margin-left: 100px;
margin-top: 150px;
width: 150px;
  height: 23px;
  left: 122px;
  top: 146px;


  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.waktu{
    margin-left: 500px;
margin-top: 200px;
}

.tanggal{
    margin-bottom:10px ;
}
.jamnya{
    margin-left: 500px;
margin-top: 30px;
}

.jam{
    margin-bottom:10px ;
}

.judul-acara {
  position: absolute;
  width: 200px;
  height: 24px;
  left: 487px;
  top: 205px;


  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.list-benefit {
display: flex;
margin-top: 270px;
margin-left: 250px;
    width: 150px;
    font-family: ;
  height: 57px;
  left: 487px;
  top: 275px;


  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}



.poster{
    display: flex;
    margin-left: -500px
}
.poster img{
    margin-top: 200px;
    margin-left: 10px;
    display: flex;
    width: 251px;
  height: 348px;
  left: 60px;
  top: 105px;
  border-radius: 10px;
}

.button {
  position: absolute;
  width: 219px;
  height: 44px;
  left: 487px;
  top: 641px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #0081c9;
  width: 219px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -220px;
}

.bawah {
  position: relative;
  display: flex;
  width: 100%;
  height: 1597px;
  left: 0px;


  background: #fffffe;
}

.photo-ireng img{
    width: 20%;
    position: -webkit-sticky;
        position: sticky;
        top: 100px;
    height: fit-content;
    background-color: white;
    box-shadow: 9px 10px 10px -13px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 9px 10px 10px -13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 9px 10px 10px -13px rgba(0, 0, 0, 0.75);
    padding: 20px;
        border-radius: 20px;
}
.shape-left {
    width: 20%;
    background-color: #0083c95b;
    position: -webkit-sticky;
        position: sticky;
        top: 100px;
        margin-top: 100px;
        margin-left: 100px;
    height: fit-content;
    box-shadow: 9px 10px 10px -13px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 9px 10px 10px -13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 9px 10px 10px -13px rgba(0, 0, 0, 0.75);
    padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.judul-shape {
  position: absolute;
  width: 186px;
  height: 39px;
  left: 107px;
  top: 25px;

  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.detail{
    display: flex;
}

.isi-1 {
  position: absolute;
  width: 140px;
  height: 24px;
  left: 95px;
  top: 130px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}
.isi-2 {
  position: absolute;
  width: 300px;
  height: 24px;
  left: 95px;
  top: 190px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}
.isi-3 {
  position: absolute;
  width: 140px;
  height: 24px;
  left: 95px;
  top: 250px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}
.isi-4 {
  position: absolute;
  width: 140px;
  height: 24px;
  left: 95px;
  top: 310px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}

.garis-1 {
  position: absolute;
  width: 330px;
  height: 0px;
  left: 50px;
  top: 165px;

  border: 1px solid rgba(0, 129, 201, 0.25);
}
.garis-2 {
  position: absolute;
  width: 330px;
  height: 0px;
  left: 50px;
  top: 225px;

  border: 1px solid rgba(0, 129, 201, 0.25);
}
.garis-3 {
  position: absolute;
  width: 330px;
  height: 0px;
  left: 50px;
  top: 285px;

  border: 1px solid rgba(0, 129, 201, 0.25);
}
.garis-4 {
  position: absolute;
  width: 330px;
  height: 0px;
  left: 50px;
  top: 345px;

  border: 1px solid rgba(0, 129, 201, 0.25);
}

.foto-bawah {
    width: 20%;
    background-color: #0083c95b;
    position: -webkit-sticky;
        position: sticky;
        top: 100px;
        margin-top: 100px;
        margin-left: 100px;
    height: fit-content;
    box-shadow: 9px 10px 10px -13px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 9px 10px 10px -13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 9px 10px 10px -13px rgba(0, 0, 0, 0.75);
    padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.kata-kata {
  position: relative;
  width: 706px;
  height: 850px;
  left: 200px;
  bottom: 130px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: #000000;
}

hr{
    border-color: #0000004f;
}

.judul{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 00;
}
