:root {
    --Background: #d8eefe;
    --biru-tua: #094067;
    --abu-abu: #5f6c7b;
    --white: #fffffe;
    --biru-muda: #3da9fc;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--Background) url("/assets/pics/shape4.png");
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: 38%;
    height: 100vh;
}
.img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: auto;
}

.bulet {
    position: absolute;
    bottom: 0;
    width: 70%;
    height: auto;
}

/* .ellipse-23 {
    height: 100vh;
    right: 0;
    position: absolute;
    top: -50px;
    width: auto;
} */

.inputan {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 200px;
    left: 60px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}
.inputan2 {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 280px;
    left: 60px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}
.inputan3 {
    width: 100px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 360px;
    left: 60px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}
.inputan4 {
    width: 100px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 435px;
    left: 60px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.kolom1 {
    width: 60%;
    height: 30px;
    position: absolute;
    top: 220px;
    left: 60px;
}
.kolom2 {
    width: 60%;
    height: 30px;
    position: absolute;
    top: 305px;
    left: 60px;
}

.kolom3 {
    width: 60%;
    height: 30px;
    position: absolute;
    top: 385px;
    left: 60px;
}

.kolom4 {
    width: 60%;
    height: 30px;
    position: absolute;
    top: 460px;
    left: 60px;
}

.checkbox {
    width: 60%;
    height: 30px;
    position: absolute;
    top: 501px;
    left: 60px;
}

.lisensi {
    width: 60%;
    height: 30px;
    position: absolute;
    top: 501px;
    left: 80px;
    font-size: 12px;
}
.lisensi2 {
    width: 80%;
    height: 40px;
    position: absolute;
    font-size: 12px;
    top: 550px;
    left: 60px;
}
.memiliki {
    width: 60%;
    height: 30px;
    position: absolute;
    top: 501px;
    left: 555px;
    font-size: 12px;
}
.memiliki2 {
    margin-top: -150px;
}

.class {
    position: relative;
    color: #3da9fc;
}

.depan {
    width: 145%;
    height: 30px;
}
.belakang {
    width: 145%;
    height: 30px;
}
.tengah {
    width: 145%;
    height: 30px;
}
.bawah {
    width: 145%;
    height: 30px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #3da9fc;
    width: 150px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 530px;
    left: 265px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: -220px;
}

.button2 {
    top: 600px;
    left: 260px;
}

.signup {
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border-color: #3da9fc;
    border-style: solid;
    width: 150px;
    height: 40px;
    position: absolute;
    top: 650px;
    left: 265px;
    border-radius: 30px;
    margin-top: -220px;
}

.footer {
    position: absolute;
    top: 51vh;
    left: 2vh;
    font-size: 1;
}
.background .back p {
    top: 1000px;
}
.copyright p {
    width: 80px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 610px;
    left: 60px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
    white-space: nowrap;
}

.background {
    background-color: white;
    margin-bottom: 50%;
    height: 85vh;
    width: 50%;
    position: absolute;
    left: 15%;
    top: 50px;
    opacity: 90%;
    border-radius: 20px;
}

.bg {
    background-color: white;
}

.welcome {
    text-align: center;
    color: #3da9fc;
    margin-top: 60px;
    font-size: 40px;
}

.input {
    text-align: center;
}

.done .foter {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
}
.done1 {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
}

.sign {
    text-align: center;
    top: 50px;
    margin-top: 20px;
    font-size: 18px;
}

.bot {
    position: absolute;
}

.mid {
    text-align: center;
}

.back {
    width: 60%;
    height: 30px;
    position: absolute;
    top: 260px;
    left: 300px;
    font-size: 12px;
}

.back2 {
    top: 410px;
    left: 275px;
}
